body{
    background: url("../img/pink03.jpg");  /* usamos ../ para salir a directorio padre y despues ir a la carpeta img*/
    background-attachment: fixed;              /* la imagen del background se quedara estatica y el scroll solo movera el resto de la pagina*/
    background-size: cover;
}


#global{
   
    box-shadow: 0px 0px 20px rgb(255, 1, 141);
}

#logo{
   
    background: linear-gradient(94deg, rgba(255,1,141,1) 0%, rgba(0,0,0,1) 100%);
    
}

#menu{
    background: linear-gradient(94deg, rgba(255,1,141,1) 0%, rgba(0,0,0,1) 100%);
}


#menu ul li:hover{
    background: linear-gradient(94deg, rgba(255,1,141,1) 0%, rgba(0,0,0,1) 100%);
}
.button-more{
   
    background: linear-gradient(94deg, rgba(255,1,141,1) 0%, rgba(0,0,0,1) 100%);   
    
}
    
form input[type="submit"]{
    background: linear-gradient(94deg, rgba(255,1,141,1) 0%, rgba(0,0,0,1) 100%);
    
}

