/*Sidebar*/
#sidebar{
    width: 31%;
    font-family: Helvetica, Arial;
    float: right;
}

#sidebar h4{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: rgb(168, 166, 166);
    background: url("../img/lineas2.jpg") repeat-x;
}

#sidebar h4 span{
    background: rgb(0, 0, 0); 
}

#sidebar img{
    display: block;
    min-width: 200px;
    width: 60%;
    margin: 0 auto;
}

#sidebar p{
    font-size: 15px;
    text-align: justify;
    margin-top: 15px;
}


/*Forms*/
form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
form textarea,
select{
    width: 80%;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 5px;
}

form input[type="submit"]{  
    display: block;
    padding: 7px;
    border: 0px solid;
    border-radius: 3px;
    color: white;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

form label{
    display: block;
}

#form_contact{
    width: 100%;
    margin-top: 15px;
    font-family: Helvetica, Arial;
}

#form_contact label{
    width: 100%;
    display: block;
    margin-top: 5px;
}

#sub{
    display: block;
    margin-top: 5px;
}

.form-error{
    float: left;
    font-size: 14px;
    font-style: oblique;
    color: red;
    background: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: solid 3px;
    border-color: gray;
}

#logout{
    text-decoration: none;
    color: red;
}